In [1]:
import pandas as pd

In [15]:
df = pd.read_csv("../data/title_basics.csv")
df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N
1,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Action,Adventure,Biography"
2,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama
3,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0,1907,\N,\N,Drama
4,tt0000630,movie,Hamlet,Amleto,0,1908,\N,\N,Drama
...,...,...,...,...,...,...,...,...,...
611468,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,0,2015,\N,57,Documentary
611469,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007,\N,100,Documentary
611470,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,\N,\N,Comedy
611471,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,\N
611472,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013,\N,49,Documentary

In [4]:
movie_name = "race 3"
row = df[df["originalTitle"].str.lower() == movie_name.lower()]
row

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
7817394,tt7431594,movie,Race 3,Race 3,0,2018,\N,160,"Action,Crime,Thriller"

In [5]:
row.empty

False

In [6]:
movie_id = row["tconst"].iloc[0]
movie_id

'tt7431594'

In [7]:
url = f"https://www.imdb.com/title/{movie_id}/reviews?ref_=tt_urv"
url

'https://www.imdb.com/title/tt7431594/reviews?ref_=tt_urv'

In [8]:
import requests
from bs4 import BeautifulSoup


r = requests.get(url)
soup = BeautifulSoup(r.content, 'html5lib') # If this line causes an error, run 'pip install html5lib' or install html5lib
# print(soup.prettify())

In [9]:
reviews = soup.find_all('div', {'class':'text'})

In [10]:
import csv

cleaned_movie_name = movie_name.lower().strip().replace(" ", "_")

filename = f'../data/reviews/{cleaned_movie_name}.csv'
with open(filename, 'w', newline='') as f:
    w = csv.DictWriter(f,['reviews'])
    w.writeheader()
    for r in reviews:
        w.writerow({"reviews": r.text})